/* importing font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* variables */
:root{
  /* Colors */
  --c-light: #FBF9F9; /* Light shades */
  --c-light-rgb: 251, 249, 249; /* Light shades */
  --c-accent: #687570; /* Light accent */
  --c-accent-rgb:	104, 117, 112;
  --c-main: #9BA8A0; /* main brand color */
  --c-main-rgb: 155, 168, 160;
  --c-d-accent: #708188;
  --c-d-accent-rgb: 112, 129, 136;
  --c-dark: #262F3B;
  --c-dark-rgb: 38, 47, 59;

  --f-main: "Poppins", sans-serif;
  --transition: all .6s cubic-bezier(.165, .84, .44, 1);
  --shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
}

html[data-bs-theme='light'] {
  --background-color: var(--c-light);
  --text-color: var(--c-dark);
  --link-color: var(--c-d-accent);
  --c-brand: var(--c-main);
  --c-brand-rgb: var(--c-main-rgb);
  --c-scroll: var(--c-d-accent);
  --c-scroll-thumb: var(--c-dark);
}

html[data-bs-theme='dark'] {
  --background-color: var(--c-dark);
  --text-color: var(--c-light);
  --link-color: var(--c-accent);
  --c-brand: var(--c-main); /* main brand color */
  --c-brand-rgb: var(--c-main-rgb);
  --c-scroll: var(--c-light);
  --c-scroll-thumb: var(--c-d-accent);
}

/* reset and helpers */
html {
  scroll-behavior: smooth;
}

body {
  min-height: 75rem;
  padding-top: 4.5rem;
  font-family: var(--f-main);
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.7;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h5, h5, .h5, h6, .h6{
  font-weight: 700;
  color: var(--c-d-accent);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--link-color);
  transition: var(--transition);
}

a:hover {
  color: var(--c-brand);
}

.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.social ul {
  list-style: none;
  padding: none;
}

/* Navigation */
.navbar {
  padding-top: 30px;
  padding-bottom: 30px;
  transition: var(--transition);
}

.navbar.scrolled {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: rgba(var(--c-dark-rgb), .8);
}

.navbar.scrolled .navbar-nav .nav-link,
.navbar.scrolled .navbar-brand {
  color: white; 
}
.navbar .navbar-nav .nav-link {
  font-weight: 500;
  color: var(--text-color);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active{
  color: var(--c-brand);
}

.navbar-brand {
  font-size: 24px;
  font-weight: 700;
  color: var(--text-color);
  transition: 0.3s ease;
}

.navbar-brand:hover {
  color: var(--c-brand);
  text-shadow: 0 0 25px var(--c-brand),
               0 0 50px var(--c-brand);
  transform: scale(1.1);
}

.brand {
  color: var(--c-brand);
  text-transform: uppercase;
}

.btn {
  padding: 10px 24px;
  border-radius: 3;
  border-width: 2px;
  font-weight: 500;
}

/* Hero */

/* About */
.about-pic{
  border-radius: 2rem;
  padding: 10px;
}

#about .line {
  width: 90px;
  height: 2px;
  background-color: var(--c-brand);
  display: inline-block;
}

#about .logos img {
  width: 250px;
  padding: 10px;
}

/* Contact */
#contact .form-control {
  border-radius: 0;
}

#contact .form-control:focus {
  box-shadow: none;
  border-color: var(--c-brand);
}

#contact input.form-control {
  height: 45px;
}

/* Footer */
footer {
  background-color: var(--c-dark);
  padding-top: 40px;
}

footer p,
footer li,
footer li a {
  color: rgba(var(--c-accent-rgb), .8);
}

.footer-top {
  /* padding-bottom: 40px; */
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.footer-bottom {
  padding-top: 10px;
  padding-bottom: 10px;
}

footer h4{
  color: var(--c-accent);
}

/* theme button */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.btn-bd-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--c-brand);
  --bs-btn-border-color: var(--c-brand);
  --bs-btn-hover-color: var(--c-brand);
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: var(--c-brand);
  --bs-btn-focus-shadow-rgb: var(--c-brand);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: var(--bs-btn-hover-bg);
  --bs-btn-active-border-color: var(--bs-btn-hover-border-color);
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

/* scroll bar */
::-webkit-scrollbar {
  width: .60rem;
  background-color: var(--c-scroll);
  /* border-radius: .5rem; */
}

::-webkit-scrollbar-thumb {
  background-color: var(--c-scroll-thumb);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--c-accent);
  border-radius: .5rem;
}