@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    padding-top: 80px;
  }
  
  html {
    scroll-behavior: smooth;
  }

  p{
    color: #777;
  }

  h1{
    font-size: 3rem;
    padding-top: 1rem;
  }
  
  h2{
    font-weight: 1.75rem;
    color: #777;
  }
/* Style for dark/light mode icon */
#dark-mode-icon {
    cursor: pointer;
}

/* Style for dark mode */
body.dark-mode {
    background-color: #343a40;
    color: white; 
}


.navbar {
  transition: background-color 0.5s ease;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
}

.navbar.scrolled .navbar-nav .nav-link {
  color: white; 
}

.navbar.scrolled .navbar-brand {
  color: white;
}

.nav-link.active {
    font-weight: bold;
    transition: 0.5s ease;
}
.about-pic{
  border-radius: 2rem;
}

.highlighted{
  color: #777;
  text-transform: uppercase;
}